# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
.env
.env.*
!.env.example
!.env.sample
*.pyc

# Jupyter
.ipynb_checkpoints/

# Node / Frontend
node_modules/
dist/
*.log

# OS/Editor
.DS_Store
Thumbs.db

# Local OCR renders (debug only)
document/other/_enunciado_render/

# Local aux files
CardioIA-Phase2/
read_pdf.py
read_pdf_pdfminer.py
ocr_pdf.py
tmp_p3_*.txt
FIAP FASE 3.txt
get_cert.py
hivemq_cloud_cert.pem
FASE3/wokwi/config.h
